$theme-colors:(
    "primary": #fcca5d,
    "secondary": rgb(100, 100, 100)
    
);
@import "node_modules/bootstrap/scss/bootstrap";
html{
    min-height: 100%;
    position: relative;
}
body{
    margin:0;
    height: 100vh;
    background-color: #fcca5d;
}
h1, h2{
    color: #fff;
}
p{
   margin: 0;
}
.header{
    height: 100vh;
    background-color: rgb(133, 133, 133);
}
.header-logo{
    padding: 15px 15px 15px 15px;
    height: 25vh;  
}

.img-logo{
    max-width: 90%;
    height: auto;
}
.header-menu{
    height: 75vh;
}

.nav{
    padding-top: 20px;
}
.nav-link{
    color: white;
    border-radius: 0;
    font-size: 20px;
    text-align: center;
}

.text_center{
    width: 100%;
}
.btn-login-register{
    margin-top: 280px;
    margin-left: 35px;
    vertical-align: bottom;
    font-size:18px;
}
.btn-primary{
    background-color: rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
    color: #fff;
}
.btn-success{
    background-color:#7ED957;
    color: #fff;
    font-size: 14px;
    font-style: bold;
    width: 100px;
    height: 30px;
    padding: 5px;
}
.container-fluid{
    padding-left: 0;
    padding-right:0;
} 
.contenido{
    width: 83%;
}

.slider{
    background-color: #ffdc8f;
    margin-top:30px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 420px;

}

.space{
    height:10vh;
}



